/*gambiarra a gente aceita, a gente só não aceita a derrota!*/

.navbar{
    display: flex;
    min-width: 100vw;
    justify-content: center; /*"outro" ficará no centro*/
    padding: 16px 0;
}

.home, .login-register{
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.home{
    position: fixed;
    left: 0;
}

.login-register{
    position: fixed;
    padding-right: 40px;
    right: 0;
}

.opcao{
    margin: 0 10px;
    transition: transform 200ms;
}

.opcao:hover{
    transform: translateY(3px);
}

.ancora{
    color: blue;
    text-decoration: none;
    transition: color 200ms;
}

.ancora:hover{
    color: lightblue;
    text-decoration: underline;
}

.outro{
    margin: auto;
}