.navbar{
    display: flex;
    justify-content: space-between;
}

.home, .login-register{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.login-register{
    position: fixed;
    padding-right: 40px;
    right: 0;
}

.opcao{
    margin: 0 10px;
    transition: transform 200ms;
}

.opcao:hover{
    transform: translateY(3px);
}

.ancora{
    color: blue;
    text-decoration: none;
    transition: color 200ms;
}

.ancora:hover{
    color: lightblue;
    text-decoration: underline;
}